{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

<div class="">
  <div class="page-width">
    <h2 class="page-title">
      {{ page.title | t }}
    </h2>
    <div class="rte">
      {{ page.content }}
    </div>
  </div>
</div>
