{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

<div class="page-width" style="padding-top: 28px; padding-bottom: 28px;">
  <h1 class="main-page-title page-title h0">
    {{ page.title }}
  </h1>
  <div class="rte">
    {{ page.content }}
  </div>
</div>
